body {
  font-family: 'Poppins', sans-serif;
  width: 375px;
  margin: 0;
  padding: 0;
  background-color: #f7f7fa;
}

h1 {
  color: #172b4d;
}

p {
  color: #344563;
}

h5 {
  color: #7f8cff;
}

h6 {
  color: #253858;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav div {
  color: #7f8cff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding-left: 10px;
}


.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.links {
  display: none;
  flex-direction: column;
  background-color: #344563; 
  position: absolute;
  top: 30px;
  right: 10px;
  width: 100px;
  border: 1px solid #7f8cff; 
  padding: 10px;
  list-style: none;
  margin-top: 10px;
}

.links.active {
  display: flex;
}

.link-items a {
  text-decoration: none;
  color: #ebebff; 
  padding: 10px 0;
  text-align: center;
  font-weight: 500; 
}

.link-items a:hover {
  color: #b0b6f4;
}

#closeMenu {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #f00; 
  text-align: right;
  margin-bottom: 10px;
}

#main-sec {
  background-color: white;
  display: flex;
  flex-direction: column;
  background-image: url(./img1/mainpage_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 20px;
}

.main-sec-headline {
  width: 327px;
  height: 150px;
}

.main-sec-headline h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  padding-left: 10px;
}

.main-sec-para {
  width: 327px;
  height: 146px;
  margin-top: 40px;
}

.main-sec-para p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
}

.social-icons {
  width: 170px;
  padding-left: 10px;
}

.social-icons h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#work-section {
  padding-top: 100px;
}

.project-img {
  width: 320px;
  height: 220px;
  gap: 0;
  border-radius: 8px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  width: 327px;
  height: 552px;
  padding: 16px 30px 16px 16px;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: white;
  margin-bottom: 80px;
}

.project-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.project-skills {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style-type: none;
  padding-left: 0;
}

.project-skills li {
  background-color: #ebebff;
  color: #6070ff;
  width: 57px;
  height: 24px;
  padding: 10px 20px 4px 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-info h5 {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #344563;
}

.project-info ul {
  display: flex;
  margin-top: 2px;
  padding-left: 20px;
  gap: 20px;
}

.project-info ul li {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}

.project-para {
  width: 295px;
  height: 76px;
  gap: 0;
}

.project-para p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 0;
}

.seeProject-button {
  width: 126px;
  height: 48px;
  top: 12px;
  gap: 10px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 0 0 0;
  color: #6070ff;
  border-color: #6070ff;
  background-color: white;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}

#aboutme {
  display: grid;
  background-color: #ffff;
  border-top-right-radius: 70px;
  height: 1, 062.15px;
  padding: 114px 24px 114px 24px;
  gap: 24px;
}

.about-myself {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 340px;
  gap: 12px;
}

.about-myself h1 {
  width: 327px;
  height: 35px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-top: 0;
}

.about-myself p {
  width: 327px;
  height: 147px;
  gap: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 0;
}

.about-myself .social-icons {
  padding-left: 0;
}

.about-myself .social-icons h5 {
  margin-top: 0;
  margin-bottom: 15px;
}

.myresume-button {
  width: 162px;
  height: 48px;
  gap: 10px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 0 0 0;
  color: #6070ff;
  border-color: #6070ff;
  background-color: white;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 420.15px;
  gap: 0;
}

.skills h3 {
  width: 327px;
  height: 72px;
  gap: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.skill-languages {
  width: 327px;
  height: 320.15px;
  gap: 0;
}

.language-div {
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 72px;
  margin-top: 40px;
}

.language-div img {
  width: 10px;
  height: 10px;
  margin: 10px 15px 0 0;
}

.languages-detail ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 327px;
  height: 248.15px;
  padding: 0;
  gap: 12px;
  margin: 0;
}

.other-skills {
  margin-top: 40px;
}

.language-list {
  display: flex;
  width: 303px;
  height: 66.72px;
  gap: 0;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.language-list img {
  width: 48px;
  height: 48px;
  gap: 0;
  border: 1px 0 0 0;
  margin-top: 10px;
  margin-left: 15px;
}

.language-list h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 215px;
  height: 24px;
  gap: 0;
  padding-top: 25px;
  padding-left: 15px;
  margin: 0;
}

#contact-me {
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-image: url('./img1/contactformbg.png');
  background-repeat: no-repeat;
  background-size: 200px 500px;
  background-position: 170px 20px;
  background-color: #6070ff;
  padding: 20px;
  border-top-left-radius: 70px;
}

.contact-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-text h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.contact-me-text p {
  width: 327px;
  height: 137px;
  gap: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 327px;
  height: 48px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.form-input-textarea {
  width: 327px;
  height: 170px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
  border: none;
}

.submit-button {
  width: 142px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  background-color: white;
  color: #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  margin-top: 10px;
  align-self: flex-start;
}

@media (min-width: 786px) {
  body {
    width: 100%;
  }

  nav {
    background-color: white;
  }

  #main-sec {
    height: 500px;
    background-color: #fff;
    background-image: url("./img1/mainpageweb.png");
    background-repeat: no-repeat;
    background-size: 1240px 500px;
    justify-content: center;
    align-items: center;
  }

  .main-sec-headline {
    width: 340px;
    height: 100px;
  }

  .main-sec-headline h1 {
    margin-bottom: 0;
  }

  .main-sec-para {
    margin-top: 0;
    width: 750px;
    height: 100px;
  }

  .social-icons h5 {
    margin-top: 0;
  }

  .project-card {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 100px;
  }

  .project-card:nth-child(2n) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 100px;
  }

  .project-card:nth-child(2n) div:first-child {
    order: 2;
  }

  .project-card:nth-child(2n) div:last-child {
    order: 1;
  }

  .project-img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
  }

  .project-name {
    font-size: 24px;
    color: #1d1d1d;
    margin-bottom: 10px;
  }

  .project-info {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #6c757d;
  }

  .project-para {
    margin-top: 10px;
    color: #5d5d5d;
    font-size: 16px;
    width: 450px;
  }

  .project-skills {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 15px 0;
  }

  .project-skills li {
    border-radius: 5px;
    width: 100px;
  }

  #aboutme {
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
  }

  .about-myself p {
    width: 500px;
    height: 100px;
  }

  .languages-detail ul {
    flex-direction: row;
    height: 120px;
  }

  .language-list {
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
  }

  #contact-me {
    background-image: url("./img1/contactmeweb.png");
    background-repeat: no-repeat;
    background-size: 1000px 600px;
  }

  .contact-me-text p {
    width: 500px;
    height: 120px;
  }

  .submit-button {
    align-self: center;
  }

  .links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .link-items a {
    text-decoration: none;
    color: #344563;
  }

  .hamburger {
    display: none;
  }
}
